body {
    background-color: #F2F0F1;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    text-align: center;
}

.item {
    margin-top: 15px;
    width: 33%;
}

.search-icon {
    cursor: pointer;
    width: 25px;
    float: left;
    margin-left: 70px;
    margin-right: 20px;
}

.search-box {
    float: left;
    border-radius: 5px;
}

.account .icon {
    cursor: pointer;
    float: right;
    margin-right: 40px;
    width: 30px;
}

.account .info {
    position: absolute;
    float: right;
    background-color: rgba(207, 207, 207, 255);
    height: 10%;
    width: 100px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 325px;
}

.carrinho {
    cursor: pointer;
    float: right;
    margin-right: 90px;
    width: 30px;
}

.logo {
    width: 55%;
    margin-top: 15px;
}

@media screen and (max-width: 1440px) {
    .logo {
        width: 50%;
    }

    .item {
        margin-top: 15px;
        width: 33%;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 70%;
    }

}

@media screen and (max-width: 890px) {
    .search-icon {
        width: 25px;
        float: left;
        margin-left: 30px;
        margin-right: 10px;
    }

    .carrinho {
        float: right;
        margin-right: 40px;
        width: 25px;
    }
}

@media screen and (max-width: 790px) {
    .logo {
        width: 100%;
    }

    .search-icon {
        width: 25px;
        float: left;
        margin-left: 20px;
        margin-right: 10px;
    }

    .carrinho {
        float: right;
        margin-right: 30px;
        width: 25px;
    }
}

@media screen and (max-width: 700px) {
    .search-box {
        border: inherit;
        background-color: currentcolor;
        border-radius: 5px;
        float: left;
        margin-left: 70px;
        position: absolute;
    }
}

@media screen and (max-width: 425px) {
    .logo {
        width: 70%;
    }

    .item {
        width: auto;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 90%;
    }

}